@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto-slab-light: 'Roboto Slab';
  --font-roboto-slab-heavy: 'Roboto Slab';
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family:
    var(--font-roboto-slab-heavy),
    'Heiti SC',
    -apple-system,
    sans-serif;
}

article p,
article li,
article div.nextra-callout {
  font-family:
    var(--font-roboto-slab-light),
    'Kaiti SC',
    -apple-system,
    sans-serif;
  font-weight: 600;
}

article code,
article p.sandbox-output {
  font-family: 'Consolas', 'Songti SC', ui-monospace, monospace;
  font-weight: 500;
}
